@font-face {
  font-family: "Outfit", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
}

* {
  font-family: "Outfit", sans-serif;
  transition: all 0.5s;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  background-color: hsl(212, 45%, 89%);
  justify-content: center;
}

body,
.qr__code__scan__me {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.qr__code__scan__me {
  max-width: 310px;
  border-radius: 25px;
  background-color: hsl(0, 0%, 100%);
  padding: 20px;
  margin: 20px;
  text-align: center;
  -webkit-box-shadow: 0px 24px 74px 5px rgba(133, 133, 133, 0.2);
  box-shadow: 0px 24px 74px 5px rgba(150, 150, 150, 0.2);
}

.qr__code__container {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.qr__code__description,
.qr__code__title {
  margin-left: 10px;
  margin-right: 10px;
}

.qr__code__title {
  font-size: 23px;
  margin-top: 20px;
  margin-bottom: 0px;
  color: hsl(218, 44%, 22%);
}

.qr__code__title,
.qr__code__description {
  font-weight: 700;
}

.qr__code__description {
  font-size: 15px;
  color: hsl(220, 15%, 55%);
}
